# Copy to /etc/speedify-status-agent.env on gw0
INGEST_URL=http://10.0.0.202:4090/api/ingest/sample
# INGEST_TOKEN=
INTERVAL_SEC=1
SPEEDIFY_CLI=/usr/share/speedify/speedify_cli
LATENCY_FALLBACK_HOST=1.1.1.1
